body {
	margin: 0;
	padding: 0;
	/*height: 100%;*/
	width: 100%;
	min-width: 960px;
	text-align: center;
	}
#fixed960 {
	margin: 5px auto 0 auto;
	text-align: left;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 960px;
	/*height: 100%;*/
	}
/* needed in order to make the footer "stick" to the bottom
body > #fixed960 { 
	height: auto;
	min-height: 100%;
	} */
	
/* generic content block wrapper class */
.blk-wr {clear: left;} 

/* clearfix method to contain floats in "stand-alone" modules */
#header:after,
#content:after,
#navbuckets:after,
.blk-wr:after, 
.blk-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
	}
#header,#logo,#content,#leftcol,#navbuckets,#bucket-right,.blk-wr,.blk-box,.blk-last {display: inline-block; min-height: 0;} /* hacks for IE 5 (Win and Mac) (min-height is the "hasLayout" trigger used for IE7) */    

/* hides from IE-mac \*/  
* html #header,
* html #logo,
* html #content,
* html #leftcol,
* html #navbuckets,
* html #bucket-right,
* html .blk-wr,
* html .blk-box,
* html .blk-last {height: 1%;}  
#header,#logo,#content,#leftcol,#navbuckets,#bucket-right,.blk-wr,.blk-box,.blk-last {display: block;}  
/* end hide from IE-mac */

*html #logo,*html #leftcol,*html #navbuckets,*html #bucket-right {overflow: visible;}
* html #mainnav, * html #copy {margin-left: -3px;} /* negative margin is used to fix a IE6 bug (3px jog) */

.blk-oh {overflow: hidden;}
* html .blk-oh {overflow: visible;}

/* use DIVs to act as columns, the negative margin is used to fix a IE6 bug (3px jog) */
.blk-fl {float: left;}
* html .blk-fl {margin-right: -3px;}
.blk-fr {float: right;}
* html .blk-fr {margin-left: -3px;}

/* every floated column needs a width, 5 default values: 1/4, 1/3, 1/2, 2/3 and 3/4 */
.blk-25 {width: 25%;}
.blk-33 {width: 33.33%;}
.blk-40 {width: 40%;}
.blk-42 {width: 42.5%;}
.blk-50 {width: 50%;}
.blk-66 {width: 66.66%;}
.blk-75 {width: 75%;}

/* make columns whose siblings overlap by 1 pixel (to vertically align 1 pixel borders between containers) */
.blk-fl-negmr {margin-right: -1px;}
* html .blk-fl-negmr {margin-right:-4px;}
* html .blk-fl-negmx, .blk-fl-negmx {margin-right: -1px;} /* first columns for a multi-column layout (more than 2) */
/* same as above, but for those columns which contextually come first, but are displayed to the right */
.blk-fl-negml {margin-left: -1px;}
* html .blk-fl-negml {margin-left:-4px;}

/* SITE SPECIFIC */
#header { /* wrapper for all header elements */
	background-color: #fff;
	height: 109px;
	position: relative;
	clear: left;
	border: 2px solid #d8d8d8;
	border-bottom: 0;
	}
#logo { /* unlike the right column (#mainNav), this element does *not* need a width */
	background: url(../img/logo_ocfs-header.png) no-repeat 12px 8px;
	overflow: hidden;
	}
#logo h5 a {
	float: left;
	text-indent: -99999px;
	font-size: 1px;
	width: 284px;
	height: 74px;
	margin: 16px 0 0 18px;
	}
#mainnav { /* main navigation controls, must have specified width */
	width: 636px;
	text-align: right;
	float: right;
	}
#socialLinks {
	margin: 10px 12px 0 0; 
	}
#socialLinks a {
	padding-left: 6px; 
	}
#mainnav ul {
	position: absolute;
	bottom: 24px;
	right: 1px;
	font: bold 10pt/11pt Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
 }
#mainnav ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px;
	}
#mainnav ul li p {
	display: block;
	float: left;
	padding: 0 10px 0px 10px;
	color: #000;
	text-align: center;
	text-decoration: none;
	position: relative;
	border-right: 2px solid #000;
	}
#mainnav ul li p#noBorder {
	border-right: 0 !important;
	}
#mainnav ul li a {
	color: #000;
	text-decoration: none;
	padding-bottom: 12px;
	}
#mainnav ul li a:hover {
	background: url(../img/bkgrnd_mainnav-dot.png) repeat-x 1px 20px;
	color: #999;
	}
#mainnav ul li a#selected {
	background: #262424;
	}
#banner {
	clear: left;
	border-right: 2px solid #d8d8d8;
	border-left: 2px solid #d8d8d8;
	height: 120px;
	background-color: #718baa;
	text-align: right;
	}
	
#banner {
    background: url("/library/img/background_banner.jpg") no-repeat scroll 0 0 transparent;
    clear: left;
    font-size: 1px;
    height: 120px;
    text-indent: -99999px;
    width: 960px;
}

#banner p {
	padding: 66px 20px 0 0;
	font: bold 12pt/14pt Arial, Helvetica, sans-serif;
	color: #404e5e;
	}
#content {
	clear: left;
	z-index: 1;
	background-color: #fff;
	border-right: 2px solid #d8d8d8;
	border-left: 2px solid #d8d8d8;	
	}
#copy {
	float: right;
	margin-left: -1px;
	width: 736px;
	padding: 30px 0 30px 30px;
	letter-spacing: 0.025em;
	}
#leftcol {
	display: block;
	overflow: hidden;
	padding-top: 16px;
	padding-left:6px;
	margin-bottom:10px;
}
	
#leftcol #userinfo {
	display:block;
	border: 2px solid #dedede;
	padding:4px;
	margin-bottom:10px
}

#leftcol ul {
	margin-left:10px;
	margin-bottom:10px;
}
	
#leftcol #partners p {
	padding: 20px 0 12px 0;
	font: bold 11pt/12pt Arial, Helvetica, sans-serif;
	}
#leftcol #partners img {
	padding-bottom: 12px;
	}
/* Text/form styles */
#copy h1 {
	font: bold 14pt/12pt Arial, Helvetica, sans-serif;
	margin-top: -2px;
	padding-bottom: 20px;
	}
#copy h3 {
	font: bold 1.4em/1.5em Arial, Helvetica, sans-serif;
	padding-top: 12px;
	padding-bottom: 12px;
	}
#copy h3 a {
	color: #992E20;
	}
#copy h3 a:hover {
	color: #992E20;
	text-decoration: underline;
	}
#copy h4 {font-weight: bold;}

#copy p {
	font: 1em/1.45em "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0 0 1.15em 0;	
 }
#copy ul {
	margin: 0;
	padding: 0;
	}
#copy ul li {
	list-style: square;
	font: normal 1em/1.35em "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 4px 24px;
	padding: 0;
	}

#fblikediv {
	border-bottom: 1px solid #dedede;
	padding-bottom:4px;
	margin-bottom:8px;
}

/* Footer styles */
#footer {
	border-top: 2px solid #d8d8d8;	
	font: 8pt/2 "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #000;
	}
#footer a {
	font: 9pt "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #718baa;
	text-decoration: none;
	}
#footer a:hover {
	text-decoration: underline;
	color: #999;
	}

	
.commentDiv {
	border-bottom: 2px solid #dedede;
}

.smaller {
	font-size:10px;
}
	